.budget-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;

  font-family: "TT Norms-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.04em;

  margin-right: 40px;
}

.budget-amount {
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.035em;

  color: #ffe55c;
}
