.filter-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 9px;

  border: 1px solid #161922;
  background: #161922;
  border-radius: 5px;
  vertical-align: middle;
  padding: 10px;
  margin-right: 20px;
  margin-left: 14px;

  color: white;

  font-family: "TT Norms-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.01em;
}
