.footer {
    height: 60px;
    width: 100%;
    padding: 12px;
  
    position: fixed;
    bottom: 0;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
  
    background: linear-gradient(0deg, #090303, #090303), #000000;
    backdrop-filter: blur(74px);
  
    gap: 14px;
    z-index: 10;
  
  }
  
  @media (min-width: 400px){
    .footer {
      justify-content: center;
    }
  }
  